@import "https://fonts.googleapis.com/css?family=Montserrat";
body {
  background:#32373A;
  font-family: "Montserrat", sans-serif;
}

form {
  margin: 40px 0 0;
}

.hidden { 
  display: none; 
}

h1,h5{
   color: #ffffff;
}

label{
  color: #f5f5dc;
}

